.page.main {
  margin: 10%;
}

.home-page-main-content {
  height: 500px;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
 
  
}

.home-page-main-content h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  padding-bottom: 15px;
  margin-top: 30px;
}


.home-page-main-content p {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 16px;
}

.home-page-main-content .main-text {
  padding-top: 15px;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  padding-bottom: 10px;
}


.home-page-main-content .main-link {
  padding: 8px;
  background-color:#1B4079;
  color: aliceblue;
  border-radius: 8px;
  box-shadow: 10px 10px 4px -2px #647794dc;
  font-family: 'Quattrocento Sans', sans-serif;
}

.home-page-main-content .invite {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-top: 25px;
  padding: 25px;
}


@media (min-width: 800px) {
.home-page-main-content {
  max-width: 1100px;
}
}
